build/

# node
package-lock.json
node_modules

# debian
debian/logni-belog.debhelper.log
debian/logni-belog/
.deb-*
.captainci-*

debian/build
debian/prebuild
debian/postbuild

debian/conffiles
debian/control
debian/cron.d
debian/dirs
debian/install
debian/links
debian/rules

# daemontools
service/http/run
service/http/log/run
